<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RMD.Excercise.TextureManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <RMD.Excercise.TextureManager.Properties.Settings>
      <setting name="SearchPattern" serializeAs="String">
        <value>*.png|*.tga</value>
      </setting>
      <setting name="TexturePath" serializeAs="String">
        <value>D:\dev\RMD.Excercise\textures</value>
      </setting>
    </RMD.Excercise.TextureManager.Properties.Settings>
  </userSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${threadid} ${message}"
          fileName="${basedir}/texturemanager.log"
          keepFileOpen="false"
          encoding="iso-8859-2" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>